/* Template for the .env file required to build the application */

VITE_OPENWEATHER_API_KEY={YOUR OPEN WEATHER MAP API KEY}
VITE_OPENTRIP_API_KEY={YOUR OPEN TRIP MAP API KEY}

# Base Server HTML
VITE_BASE_SERVER_URL={YOU SERVER'S BASE URL example "http://localhost:5000/" (must include ending '/')} 